.registerFormStyle {
    margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-1);
  height: 100vh;
}

.registerFormStyle form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerFormStyle input {
    width: 75%;
}

.registerFormStyle form a, button {
  height: 36px;
  font-size: 1em;
  padding: 0 20px;
  margin-top: 1rem;
  width: 75%;
}
